<header class="headerhome">
    <a href="/"><p class="logo">HEAVENLY</p></a>
   <form class="searchbar">
      <input name="searchbarhome" type="text" class="searchbarhome" placeholder="Buscá por producto, marca, categoría ..."></form>
      <button type="submit"></button>
      </form>
      <a class="searchiconhome"><i class="fas fa-search"></i></a>
      <a class="solidbarhome"><i class="fas fa-bars"></i></a>
     <div class="loginregisterhome"><a class="loginhomebutton" href="/login">Login</a><a class="registerhomebutton" href="/register">/Register</a> <a class="shopiconhome" href="/carrito"><i class="fas fa-shopping-basket"></i></a></div>
    </header>
    <div><p class="categoryofcloth">Categorías</p></div>