<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/carritoStyles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">    
        <header>
            <div class="header-carrito">
                <div>icono</div>
                <div>logo</div>
            </div>
        </header>
        <main class="main-carrito">
            <div class="main-carrito-encabezado">
                <h1 class="main-carrito-titulo">Carrito</h1>
                <div class="main-carrito-subtitulos">   
                    <p>Items</p>
                    <p>Total</p>
                </div>
            </div>
            <div class="main-productos">
                <div class="main-carrito-descripcion">
                    <img src="" alt="img">
                    <p>Descripcion</p>
                    <p>Precio</p>
                </div>
                <div class="main-carrito-descripcion">
                    <img src="" alt="img">
                    <p>Descripcion</p>
                    <p>Precio</p>
                </div>
                <div class="main-carrito-descripcion">
                    <img src="" alt="img">
                    <p>Descripcion</p>
                    <p>Precio</p>
                </div> 
            </div>     
        </main>
        <footer class="footer-recomendados">
            <h2>Productos recomendados</h2>
            <div class="footer-productos">
                <div class="footer-producto">
                    <p>Descripcion del producto</p>
                    <img src="" alt="footer-product">
                </div>
                <div class="footer-producto">
                    <p>Descripcion del producto</p>
                    <img src="" alt="footer-product">
                </div>
                <div class="footer-producto">
                    <p>Descripcion del producto</p>
                    <img src="" alt="footer-product">
                </div>
            </div>
        </footer>
    </div>
</body>
</html>