<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Opti&family=Oswald&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body class="homebody">
  <header class="headerhome">
  <a href="/"><p class="logo">HEAVENLY</p></a>
 <form class="searchbar">
    <input name="searchbarhome" type="text" class="searchbarhome" placeholder="Buscá por producto, marca, categoría ..."></form>
    <button type="submit"></button>
    </form>
    <a class="searchiconhome"><i class="fas fa-search"></i></a>
    <a class="solidbarhome"><i class="fas fa-bars"></i></a>
   <div class="loginregisterhome"><a class="loginhomebutton" href="/login">Login</a><a class="registerhomebutton" href="/register">/Register</a> <a class="shopiconhome" href="/carrito"><i class="fas fa-shopping-basket"></i></a></div>
  </header>
    <section class="sliderhome"></section>
    <div class="containersliderhome">
      <ul class="sliderhome">
        <li id="slide1"><img class="img1" src="/img/img1.png" alt="imagen1"></li>
        <li id="slide2"><img class="img2" src="/img/img2.png" alt="imagen2"></li>
        <li id="slide3"><img class="img3" src="/img/img3.png" alt="imagen3"></li>
        <li id="slide4"><img class="img4" src="/img/img4.png" alt="imagen4"></li>
        <li id="slide5"><img class="img5" src="/img/img5.png" alt="imagen5"></li>
        <li id="slide6"><img class="img6" src="/img/img6.png" alt="imagen6"></li>
      </ul>
      <ul class="menuhome">
<li><a href="#slide1">1</a></li>
<li><a href="#slide2">2</a></li>
<li><a href="#slide3">3</a></li>
<li><a href="#slide4">4</a></li>
<li><a href="#slide5">5</a></li>
<li><a href="#slide6">6</a></li>
      </ul>
    </div>
    <section class="productoshome">
      <article><a href="/productodetalle/1"><img src="/img/img1.png" alt="product1"><p class="nameemp">Heavenly</p><p class="namecloth"></p>Black Camo<p class="price">$1750</p></a></article>
      <article><a href="/Monster-Trouser"><img src="/img/img2.png" alt="product2"><p class="nameemp">Heavenly</p><p class="namecloth">Monster Trouser</p><p class="price">$2000</p></a></article>
      <article><a href="/Ice-Short"><img src="/img/img3.png" alt="product3"><p class="nameemp">Heavenly</p><p class="namecloth">Ice Short</p><p class="price">$1550</p></a></article>
      <article><a href="/Retro-Shirt"><img src="/img/img4.png" alt="product4"><p class="nameemp">Heavenly</p><p class="namecloth">Retro Shirt</p><p class="price">$1800</p></a></article>
      <article><a href="/Black&White-Camo"><img src="/img/img5.png" alt="product5"><p class="nameemp">Heavenly</p><p class="namecloth">Black&White Camo</p><p class="price">$2000</p></a></article>
      <article><a href="/Shark-Jumper"><img src="/img/img6.png" alt="product6"><p class="nameemp">Heavenly</p><p class="namecloth">Shark Jumper</p><p class="price">$3250</p></a></article>
    </section>
    <footer></footer>
</body>
</html> 