<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaisei+Opti&family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>Login</title>
</head>

<body class="loginbody">
    
    <header class="headerhome">
<p class="logologin"><a href="/" class="logologin">HEAVENLY</a></p>
    </header>
    <div class="container">
        <div class="wrapper">
            <div class="title"><span>Login</span></div>
            <form action="/login" method="POST">
                <div class="row">
                    <i class="fas fa-user"></i>
                    <label for="email"></label>
                    <input type="text" id='email' name="email" placeholder="Email" required>
                </div>
                <div class="row">
                    <i class="fas fa-lock"></i>
                    <label for="password"></label>
                    <input type="password" id="password" name="password" placeholder="Contraseña" required>
                </div>
                <input class='recordameinput' type="checkbox" id="recordame" name="recordame">
                <label class="recordamelabel" for="recordame">Recordar cuenta</label><br><br>
            
                <div class="pass"><a href="#">¿Olvidaste la constraseña?</a></div>
                <% if(typeof errors != 'undefined') { %>
<ul>
<% for (let i = 0; i < errors.length; i++) {%> 
    <li>
        - <%=errors[i].msg%> 
    </li>
    <% } %> 
</ul>
<% } %> 
                <div class="row button">
                    <input type="submit" value="Entrar">
                </div>
                <div class="signup-link">¿No está registrado? <a href="/register">Registrarse</a></div>
            </form>
        </div>
        
    </div>
</body>

</html>