@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(https://www.yonar.com.ar/images/3.png);
}
.wrapper{
  margin-top: 11vh;
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #b6c2c0;
}
.wrapper form{
  margin-top: 30px;
}
div.input-box input.Input-submit:hover{
  background-color:#4ab9ff ;
}
input.submitrowbutton:hover{
  background-color:#4ab9ff
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4ab9ff;
}

header.headerhome{
  border-bottom: solid 1px grey;
  width: 100vw;
}
a.logologin{
  font-size: 5vw;
  position: relative;
  left: 42.5vw;
  top: 0vh;
  z-index: 1;
  width: 10vw;
  color: black;
  text-decoration: underline;
  font-family: Bebas Neue, sans-serif;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #b6c2c0;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #b6c2c0;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #b6c2c0;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}