@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body.loginbody{
    background: #a6c5c0;
    overflow: hidden;
}
.container{
max-width: 440px;
padding: 0 20px;
margin: 170px auto;
}
.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.wrapper .title{
    line-height: 90px;
    background: #429e8c;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 40px;
    font-weight: 00;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
    height: 45px; 
    margin-bottom:15px;
    position: relative;
}
.wrapper form .row input{
height: 100%;
width: 100%;
outline: none;
padding-left: 60px;
border-radius: 5px;
border: 1px solid lightgrey;
font-size: 16px;
transition: all 0.3s ease;
}
form .row input:focus{
border-color: #16a085;
box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .pass{
    margin: -8px 0 20px 0;

}
.wrapper form .pass a{
color: #16a085;
font-size: 17px;
text-decoration: none;
}
.wrapper form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
    
}
form .button input:hover{
    background: #12876f;
}
.wrapper form .signup-link{
 text-align: center;
margin-top: 20px;
font-size: 17px;
}
.wrapper form .signup-link a{
color: #16a085;
text-decoration: none;
}
.wrapper form .signup-link a:hover{
    text-decoration: underline;
}
/*CSS DEL HOME___________________________________________________________________________________*/
/*Dispositivos moviles*/
@media (max-width: 425px){
    .searchiconhome{display: none;}
    input.searchbarhome{display: none;}
    .loginregisterhome{display: none;} 
    div.loginregisterhome{
        position: absolute;
        left: 60vw;
    }
    img.imglogo{
        width: 35vw;
        height: 12vh;
        position: absolute;
        left: 63vw;
        top: 1vh;
    }
    a.solidbarhome{
position: absolute;
left: 12vw;
top: 5vh;
    }
}
@media (min-width: 768px){
    .solidbarhome{
        display: none;
    }
    div.loginregisterhome{
        position: absolute;
        left: 83.5vw; 
    }
body.homebody{
    display: flex;
    padding-bottom: 3vh;
    border-bottom: 1px solid grey;
}
img.imglogo{
    width: 30vw;
    height: 20vh;
}
input.searchbarhome{
    position: absolute;
    top: 10vh;
    left: 30vw;
    width: 45vw;
    padding-left: 0.4vw;
    margin-left: 2vw;
}
a.searchiconhome{
    position: absolute;
    left: 74vw;
    top: 10vh;
}
.loginregisterhome{
    position: absolute;
    left: 83vw;
    top: 10vh;
}
.registerhomebutton,.loginhomebutton,.shopiconhome{
    text-decoration: none;
}
.registerhomebutton:hover,.loginhomebutton:hover,.shopiconhome:hover{
text-decoration: underline;
}
}
/*Para dispositivos moviles*/

@media (max-width: 768px){
    .searchiconhome{
        position: absolute;
        left: 71.4vw;
        top: 9.84vh;
    }
    input.searchbarhome{
        padding-right: 7vw;
    }
    .loginregisterhome{
        left: 29vw;
        font-size: 2vw;
        position: absolute;
    }
}
@media (min-width: 1024px){
    a.searchiconhome{
        position: absolute;
        left: 75.5vw;
    }
}