@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body.loginbody{
    background: url(https://www.yonar.com.ar/images/3.png);
    overflow: hidden;
}
.container{
max-width: 440px;
padding: 0 20px;
margin: 170px auto;
}
.wrapper{
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.wrapper .title{
    line-height: 90px;
    background: #bdc0bf;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 40px;
    font-weight: 00;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
    height: 45px; 
    margin-bottom:15px;
    position: relative;
}
.wrapper form .row input{
height: 100%;
width: 100%;
outline: none;
padding-left: 60px;
border-radius: 5px;
border: 1px solid lightgrey;
font-size: 16px;
transition: all 0.3s ease;
}
form .row input:focus{
border-color: #d6dad9;
box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #bdc0bf;
    border: 1px solid #bdc0bf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .pass{
    margin: -8px 0 20px 0;

}
.wrapper form .pass a{
color: #16a085;
font-size: 17px;
text-decoration: none;
}
.wrapper form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #979999;
    border: 1px solid #979999;
    cursor: pointer;
    
}
form .button input:hover{
    background: #c6c9c8;
}
.wrapper form .signup-link{
 text-align: center;
margin-top: 20px;
font-size: 17px;
}
.wrapper form .signup-link a{
color: #bdc0bf;
text-decoration: none;
}
.wrapper form .signup-link a:hover{
    text-decoration: underline;
}
/*CSS DEL HOME___________________________________________________________________________________*/
/*Dispositivos moviles*/
@media (min-width: 320px){
    p.logo{
        font-size: 10vw;
            position: absolute;
            left: 52vw;
            top: 2.9vh;
            z-index: 1;
            width: 10vw;
        }
    section.productoshome article p.nameemp{
        font-family: Bebas Neue, sans-serif;
        font-size: 3.4vw;
    }
    section.productoshome article p.price{
        font-family: Bebas Neue, sans-serif;
        font-size: 3.1vw;
        color: #adadad;
        font-weight: 100;
    }
    section.productoshome article p.namecloth{
        font-size: 2.9vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    section.productoshome{
        top: 6vh;
        text-decoration: none;
    }
    section.productoshome article img{
        width: 80vw;
        height: 50vh;
    }
    .menuhome li a{
        color: white;
        text-decoration: none;
        background-color: #b6c2c0;
        padding: 10px 20px;
        width: 10vw;
        height: 10vh;
        font-size: 13px;
        border-radius: 80%;
        bottom: 65vh;
        left: -3vw;
        position: relative;
        }
    ul li img{
        width: 57vw;
        height: 47vh;
        position: relative;
        left: -9vw;
        top: 7vh;
        background-color: #F6F6F6;
    }
}
@media (max-width: 425px){
    section.productoshome {
        display: flex;
        position: relative;
        top: 7vh;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    section.productoshome article {
        height: 52vh;
        margin-bottom: 8vh;
    }
    .searchiconhome{display: none;}
    input.searchbarhome{display: none;}
    .loginregisterhome{display: none;} 
    div.loginregisterhome{
        position: absolute;
        left: 60vw;
    }
    a.solidbarhome{
position: absolute;
left: 12vw;
top: 5vh;
    }
}
@media (min-width: 425px){
    
    .searchiconhome{
        position: relative;
        left: 71.4vw;
        top: -0.49vh;
    }
}
@media (min-width: 768px){
    section.productoshome{
    display: flex;
    position: relative;
    top: 35vh;
    flex-wrap: wrap;
    justify-content: space-around;
}
    section.productoshome article img{
        width: 30vw;
        height: 60vh;
    }
    section.productoshome article p.nameemp{
        font-family: Bebas Neue, sans-serif;
        font-size: 2.4vw;
        text-decoration: none;
    }
    section.productoshome article p.price{
        font-family: Bebas Neue, sans-serif;
        font-size: 2.1vw;
        color: #adadad;
        font-weight: 100;
    }
    section.productoshome article p.namecloth{
        font-size: 1.9vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    p.logo{
        font-size: 5vw;
            position: relative;
            left: 7vw;
            top: 1.9vh;
            z-index: 1;
            width: 10vw;
        } 
    .menuhome li a{
color: white;
text-decoration: none;
background-color: #b6c2c0;
padding: 10px 20px;
width: 10vw;
height: 10vh;
font-size: 20px;
border-radius: 80%;
bottom: 45vh;
position: relative;
}
    ul li img{
    width: 30vw;
    height: 66vh;
    position: relative;
    left: 1vw;
    top: 2vh;
    background-color: #F6F6F6;
}
    header.headerhome{
        border-bottom: solid 1px grey;
    }
    .solidbarhome{
        display: none;
    }
    div.loginregisterhome{
        position: absolute;
        left: 82.5vw; 
        top: 5vh;
    }
input.searchbarhome{
    position: absolute;
    top: 5vh;
    left: 28vw;
    width: 45vw;
    padding-left: 0.4vw;
    margin-left: 2vw;
}
.loginregisterhome{
    position: absolute;
    left: 83vw;
    top: 10vh;
}
.registerhomebutton,.loginhomebutton,.shopiconhome{
    text-decoration: none;
}
.registerhomebutton:hover,.loginhomebutton:hover,.shopiconhome:hover{
text-decoration: underline;
}
}
/*Para dispositivos moviles*/

@media (max-width: 768px){
    
    input.searchbarhome{
        padding-right: 7vw;

    }
    .loginregisterhome{
        left: 29vw;
        font-size: 2vw;
        position: absolute;
    }
}

@media (min-width: 1024px){
    section.productoshome article p.nameemp{
        font-family: Bebas Neue, sans-serif;
        font-size: 1.4vw;
    }
    section.productoshome article p.price{
        font-family: Bebas Neue, sans-serif;
        font-size: 1.1vw;
        color: #adadad;
        font-weight: 100;
    }
    section.productoshome article p.namecloth{
        font-size: 0.9vw;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a.searchiconhome{
        position: absolute;
        left: 73.9vw;
        top: 5vh;
    }
}
.containersliderhome{
    margin: auto;
    background-color: white;
    width: 70vw;
    padding: 0vw 15vw;   
}
ul{
    list-style-type: none
}
ul.sliderhome{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 30vw;
    height: 66vh;
    position:relative;
    top: 2vh;
    left: 4vw;
}
ul.sliderhome li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: white;
    transition: opacity .5s;
}
ul.sliderhome li:first-child{
    opacity: 1;
}
ul.menuhome{
    position: relative;
    top:62vh;
    left: 2.6vw;
    display:flex;
    justify-content: space-around;

}

ul.sliderhome li:target{
    opacity: 1;
}   

section article img{
    background-color: #f6f6f6;
}
section article:hover{
        cursor: pointer;
    }
body.homebody{
    background-color: #FFFFFF;
    background: url(https://www.yonar.com.ar/images/3.png);
}


div.containersliderhome{
    background: url(https://www.yonar.com.ar/images/3.png);
    position: relative;
}
ul.sliderhome li{
    background: url(https://www.yonar.com.ar/images/3.png);
}
.logo{
    font-size: 5vw;
    display: flex;
    position: relative;
        left: 6vw;
        top: 1vh;
        color: black;
text-decoration: underline;
font-family: Bebas Neue, sans-serif;
    }
    section.productoshome article a{
        text-decoration: none;
    }